
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea/
.DS_Store

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
