{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center" data-toggle="tooltip" data-placement="bottom" title="js de bootstrap funcionando :)" >
        Hello, we are using <s>Sass</s> in our project!
    </h1>
</section>
{% endblock %}